<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>cotizacion</servlet-name>
        <servlet-class>pw.sap.servlets.Ventas.cotizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalenContable</servlet-name>
        <servlet-class>pw.sap.servlets.Contabilidad.CalenContable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cotizacion</servlet-name>
        <url-pattern>/cotizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalenContable</servlet-name>
        <url-pattern>/CalenContable</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
